* {
    margin: 1px;
    margin-left: 4px;
    margin-right: 4px;
    padding: 1px;
    box-sizing: border-box;
    font-family: serif;
    text-decoration: none;
}
.resp{
  max-width: 800px;
  margin: auto auto;
  padding: 20px;
  margin-bottom: 30px;

}
img{
max-width: 105%;
height: 90%;

}
p{
  padding: 10px;
  text-align: justify;
}
li , ol{
  padding: 10px;
  text-align: justify;

}



p{
  font-size: 1em;
}

body{
  background-image: linear-gradient(to bottom, #0026e9,black, black,#0026e9);
}

header{
    background-color: black;
    width: 100%;
    height: auto;
    margin-left: 0;
    margin-right: 0;
}

.logo{
	float:right;
	float: left;
	line-height: 40px;
	width: 20%;
}



.logo{
  animation-duration: unset;
  animation: rotacion 2s linear alternate-reverse;
  -webkit-animation: rotacion 2s linear alternate-reverse;
}

@keyframes rotacion {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

 .menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;

}

 .menu li {
    position:relative;
}

.menu a {
    display: block;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: auto;
    color: white;
    padding: 10px 20px;
}

.menu a:hover {
  background-color: #887edd ;
  transform: scale(1.5);
  padding-left: 20px;
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}

.menu a::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background-color: white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transition: transform .5s;
  -webkit-transition: transform .5s;
  -moz-transition: transform .5s;
  -ms-transition: transform .5s;
  -o-transition: transform .5s;
}

.menu a:hover::after{
  transform-origin: left;
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
}



.menu ul {
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    margin: 0;
    padding: 0;
    background-color:#887edd;
    border: 1px solid black;
}

.menu ul li {
    width: 100%;
}

.menu ul a {
    display: block;
    padding: 10px 20px;
}

.menu ul a:hover {
    background-color: black;
}

.menu li:hover > ul {
    display: block;
}

.menu ul li {
    box-shadow: 3px 3px 8px 1px black;
}

main{

	
	padding: 30PX 10PX;
	margin-top: 200px;
	width: 100%;
}
article{
	max-width: 1300px;
	margin: 20px auto;
}

.imagen{
	float: left;
	justify-content: center;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	margin-right: 30px;
}
    
h1{
  text-decoration: underline;
  font-style: oblique;
  font-size: 3vw;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#parrafo{
  font-style: initial;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 26.7px;
  color: white;
}

.cuadro{
  margin-top: 30%;
  margin-bottom: 30%;
  font-weight: bold;
  text-decoration: underline;
}

.concep{
  border: 0px solid rgba(70,69,69);
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  width: 40.3%;
  height: 40vh;
  line-height: 28px;
  text-align: center;
}

.contenedor{
  display: flex;
  justify-content: space-around;
	flex-direction: row;
  width: 100%;
  height:auto;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 20%;
}

  .columna2{
    background-color: grey;
    height: auto;
    width: 100%;
  }
  .columna3{
    background-color: grey;
    height: auto;
    width: 100%;
  }

.columna1{
  justify-content: center;
  text-align: center;
  width: 100%;
  height: auto;
  background-color: grey;
  padding: 20px;
  border: 1px solid #ddd;
  margin-bottom: 20%;
}

#noticias{
  font-family: monospace;
  text-decoration: underline;
  color: white;
  font-size: 50px;
}

#no{
  text-decoration: underline;
  font-family: monospace;
  color: #045c09;
  font-size: 20px;
}

#ven{
  font-family: monospace;
  text-decoration: underline;
  color: white;
  font-size: 44px;
}

#cap{
  color: white;
  font-size: 30px;
}
.gas{
  font-style: initial;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 30px;
  color: white;
}

#foto{
  float: right;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  height: 450px;
}

.caja{
  box-shadow: 20px 25px 30px #00cfff;
  animation: animacion 2s ease-in-out backwards;
  animation-duration: unset;
  transform: rotateX(15deg) rotateY(15deg) perspective(1000px);
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  width: 100%;
  height: auto;
  text-align: center;
  -webkit-transform: rotateX(15deg) rotateY(15deg) perspective(1000px);
  -moz-transform: rotateX(15deg) rotateY(15deg) perspective(1000px);
  -ms-transform: rotateX(15deg) rotateY(15deg) perspective(1000px);
  -o-transform: rotateX(15deg) rotateY(15deg) perspective(1000px);
  -webkit-animation: animacion 2s ease-in-out backwards;
}

@keyframes animacion {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.flex-container{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      height:auto;
      margin: auto;
      margin-bottom: 10%;
}

  .c1{
    
    border: 5px solid #000000;
    background-color: gray;
    line-height: 20px;
    background-size: cover;
    
  }

  div.c1 h3[id="libre"]{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 100%;
    
  }
  .c2{
    line-height: auto;
    font-size: 100%;
    border: 5px solid #000000;
    background-color: #588100;
    background-size: 94% 95%;
    
  }
  div.c2 h3[id="Cal"]{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 100%;
    
  }

  .c3{
    line-height: auto;
    border: 5px solid #000000;
    background-color: #84b6f4;
    background-size: auto auto;
    font-size: 100%;
    
  } 
  div.c3 h3[id="wri"]{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 100%;
  }
.c4{
    line-height: auto;
    border: 5px solid #000000;
    background-color:#c06500;
    background-size: auto auto;
  
}
div.c4 h3[id="im"]{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size:100%;
}

.redes-sociales {

  width: 40%;
  height: auto;
  font-size: 20%;
  background-size: auto;
  


}

.redes-sociales a {
  margin: auto;
}

.redes-sociales a img {
  align-items: center;
  width: 500px;
  height: 100px;
  
}

footer {
    background-color: #000099;
    color: white;
    padding: 20px;
    text-align:center ;

}
#alumn{
  text-align: center;
}

footer p{

    background-color: black;

}

footer a{
  display: block;
  text-decoration: underline;
  color: #000000;
}

footer li{
  color: black;
  text-decoration: none;
  display: block;
}
    